@model EFBook.BOOK

@{
    ViewBag.Title = "Book - " + Model.Title;

}

<h2>@Model.Title</h2>
<p>
    <img alt="@Model.Title"src="~/Content/Images/placeholder.png"/>
</p>
<div id="book-details">
    <p>
        <em>Category:</em>
        @Model.CATEGORY.CategoryName
    </p>
    <p>
        <em>Author:</em>
        @Model.Author
    </p>
    <p>
        <em>Price:</em>
        @String.Format("{0:F}",
Model.Price)
    </p>
    <p class="button">
        @Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new { BookId = Model.BookID }, "")

    </p>
</div>